.page-shell {
  padding: var(--spacing-xxl) var(--spacing-lg);
  max-width: 75rem;
  margin: 0 auto;
}

.page-shell__title {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  font-style: italic;
  color: var(--font-main-color);
  letter-spacing: -0.0625rem;
}
